*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: rgb(31, 29, 29);
}
html, body{margin: 0; padding: 0;}
body{
    min-width: 300px;
    min-height: 600px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
h1{font-size: 2.9em; text-align: center;}
h2{font-size: 2em; text-align: center;}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 600px;
}
button{
    border: none;
    width: 250px;
    height: 60px;
    background-color: rgba(245, 12, 253, 0.105);
    border-radius: 100px;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.153);
    font-size: 2em;
    transition: 300ms;
    margin-bottom: 10px;
}
button:hover,.down a svg:hover, .down a img:hover{
    cursor: pointer;
    transition: 300ms;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.243);
    transform: scale(1.04);
    margin-top: 10px;
}

button:active{
    cursor: -webkit-grab;
    cursor: grab;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.243);
    transition: 300ms;
    transform: scale(1.08);
}
.up{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.down{
    height: 100px;
    width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}
.down a svg, .down a img{
    width: 30px;
    height: 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.243);
    border-radius: 100px;
    transition: 300ms;
    margin: 0 7px;
}

.gg-youtube {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 10px;
    box-shadow: 0 0 0 2px;
    border-radius:
        15px 15px 15px 15px /
        45px 45px 45px 45px
}
.gg-youtube::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 7px;
    top: 2px;
    border-left: 4px solid currentColor;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent
}
